*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, purple, blue);
    height: 12vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    
    letter-spacing: 2px;
    margin-left: 10px;
}

.logo{
    margin-top: 3px;
    margin-left: -180px;
}

.logo_g{
    position: relative;
    margin-left: 70px;
    margin-top: -280px
}

.circulo{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: yellow;
    margin: 50px;
    margin-left: 52%;
    margin-top: 5%;
    position: absolute;
}

.circulo_g{
    width: 490px;
    height: 490px;
    border-radius: 50%;
    background-color: rgb(240, 240, 4);
    margin: 50px;
    margin-left: 50.4%;
    margin-top: 3.5%;
    position: absolute;

}

h1{
    position: relative;
    text-align: center;
    margin-top: 19%;
    margin-left: 40%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

h3{
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 9.3%;
    margin-top: 8%;
    font-size: 40px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;

}

.barra{
    position: relative;
    margin-left: -350px;
    margin-right: -150px;
}

.façaupload-texto{
    text-align: center;
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -175px;
    margin-top: -20px;
}

.logo_g_upload{
    position: absolute;
    
    margin-left: 560px;
    margin-top: 8px;
}

.façaupload-imagem{
    position: absolute;
    
    margin-left: 15%;
    margin-top: 230px
}

.logo_g_reclameaqui{
    position: absolute;

    margin-top: 8px;
    margin-left: 560px;

}

.texto_alto_reclameaqui{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 80px;

}

.texto_baixo_reclameaqui{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 45px;
    margin-top: 100px;

}
.caixa-texto-reclameaqui{
    margin-left: 80px;
    margin-top: 60px;
}