*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, purple, blue);
    height: 12vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    
    letter-spacing: 2px;
    margin-left: 10px;
}

.logo{
    margin-top: 3px;
    margin-left: -180px;
}

.logo_g{
    position: relative;
    
    margin-left: 100px;
    margin-top: -250px
}

.circulo{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: yellow;
    margin: 50px;
    margin-left: 52%;
    margin-top: 2%;
    position: absolute;
}

.circulo_g{
    width: 490px;
    height: 490px;
    border-radius: 50%;
    background-color: rgb(240, 240, 4);
    margin: 50px;
    margin-left: 50.4%;
    margin-top: 0.5%;
    position: absolute;

}

h1{
    position: relative;
    margin-top: 16%;
    margin-left: 54%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

h2{
    position: relative;
    margin-left: 62.5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.barra{
    position: relative;
    margin-left: -350px;
    margin-right: -150px;
}
.textofofo{
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
