*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, purple, blue);
    height: 12vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    
    letter-spacing: 2px;
    margin-left: 50px;
}

.logo{
    margin-top: 3px;
    margin-left: -238px;
}

.logo_g{
    position: relative;
    
    margin-left: 50px;
    margin-top: -250px
}

.circulo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 50px;
}

h1{
    position: relative;
    margin-top: 15%;
    margin-left: 55%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

h2{
    position: relative;
   
    margin-left: 63%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}